{
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "plugins": [
    "sonarjs",
    "react",
    "react-hooks",
    "@typescript-eslint"
  ],
  "rules": {
    "react/jsx-one-expression-per-line": 0
  }
}
